




/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 300%;
    margin: 5%;
    padding: 5%;
    color: #175b70;
}